body {
    background-image: url("assets/fon2.png"); 
    background-size: cover; /* растяжение на весь экран */
    background-repeat: no-repeat; /* отключает повторение фона */
    margin: 0; /* отступы браузера */
    height: 100vh; 
    display: flex; /*  */
    justify-content: center; /* центрирует контент по горизонтали */
    align-items: center; /* центрирует контент по вертикали */
    overflow: hidden;
    background-color: #f0f0f0;
}

#monster {
    width: 250px;
    height: 600px;
    cursor: pointer;
    background-image: url('assets/monster-clickelement.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.1s ease;
    transform: rotate(-10deg);
    user-select: none;
}
#monster:active {
    transform: scale(1.1);
}
.energy {
    position: absolute;
    width: 50px;
    height: auto;
    pointer-events: none;
    animation: fly 0.6s ease-out forwards;
}
@keyframes fly {
    to {
        transform: translate(var(--x),
        var(--y)) scale(0.5);
        opacity: 0;
    }
}
#game-container {
    position: relative;
    display: inline-block;
}

#clicks-count {
    margin-right: 5px;
}
#energy-icon{
    width: 60px;
    height: auto;
    margin-left: 5px;
}
#mute-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#mute-icon {
    width: 100px;
    height: 100px;
    background-image: url('assets/dinamikOn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

#progress-wrapper {
    width: 300px;
    height: 50px;
    background-color: #eee;
    border: 2px solid #555;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px auto 0;
    position: relative;
}
#progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #0b7d91, #454ec2);
    transition: width 0.3s ease;
}
#level-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comic Sans MS', cursive;
    font-size: 25px;
    color: black;
    pointer-events: none;
    font-weight: bold;
    width: 100%;
    text-align: center;
    white-space: nowrap;

}

#main-zone {
    flex: 1;
    position: relative;
}

#menu-button {
    position: fixed; /* Меняем на fixed, чтобы кнопка не двигалась с прокруткой */
    top: 20px;
    left: 20px;
    width: 300px;
    height: 70px;
    background-color: rgb(185, 196, 201);
    border: none;
    border-radius: 12px;
    font-size: 50px;
    cursor: pointer;
    z-index: 2;
}

#shop-zone {
    position: fixed;
    left: -650px;
    top: 0;
    width: 600px;
    height: 100%;
    background-color: transparent;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
    scrollbar-width: none;
}

#shop-zone.open {
    left: 0;
}

.upgrade-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-image: url(assets/fonBuy.jpg);
    background-size: cover;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.upgrade-info {
    flex: 1;
    padding-right: 10px;
    color: white;
}

#shop-zone img {
    width: 30px;
    height: 50px;
}

.upgrade-item.clicked {
    animation: clickFlash 0.3s ease;
}

@keyframes clickFlash {
    0% {
        transform: scale(1);
        background-color: white;
    }
    50% {
        transform: scale(1.05);
        background-color: #d4ffd4;
    }
    100% {
        transform: scale(1);
        background-color: white;
    }
}



  #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Чтобы заняло весь экран */
    gap: 20px;
}

#click-counter {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: white;
    font-weight: bold;

}

#click-power-display,
#passive-income-display {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Comic Sans MS', 'Fredoka', cursive;
}

.inline-icon {
    width: 15px;
    height: 40px;
    margin-left: 5px;
    vertical-align: middle;
}